/* Container styles */
.activity-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

/* Heading styles */
.activity-heading {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Adjust text color for better visibility */
  text-align: left; /* Align the heading to the left */
}

/* Table container styles */
.activity-table-container {
  width: 100%;
  overflow-x: auto;
}

/* Table styles */
.activity-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px; /* Adjust spacing from heading */
}

.activity-table th,
.activity-table td {
  border: 1px solid #e0e0e0;
  padding: 16px;
  text-align: left;
}

.activity-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.activity-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Alternate row background color */
}

.activity-table tr:hover {
  background-color: #f0f0f0; /* Hovered row background color */
}

/* Description styles */
.activity-description {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity-description button {
  background: none;
  border: none;
  color: #3498db;
  cursor: pointer;
}

.activity-description button:hover {
  text-decoration: underline;
}

/* Date styles */
.activity-date {
  white-space: nowrap;
}

/* Pagination container styles */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Pagination styles */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination .page-item {
  margin: 0;
}

.pagination .page-link {
  padding: 10px 15px;
  border: 1px solid #96621e;
  background-color: #fff;
  color: #96621e;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link:hover {
  background-color: #96621e;
  color: #fff;
}

.pagination .page-item.active .page-link {
  background-color: #96621e;
  color: #fff;
  border: 1px solid #96621e;
}

/* Adjust pagination items for smaller screens */
@media (max-width: 600px) {
  .pagination .page-link {
    padding: 8px 12px;
    font-size: 12px;
  }

  .pagination .page-item {
    flex-grow: 1;
    text-align: center;
  }
  .pagination .page-item:nth-child(n + 2):nth-last-child(n + 2)::before {
    content: attr(data-page);
  }
}

/* Adjust pagination items for larger screens */
@media (min-width: 601px) {
  .pagination .page-item {
    flex-basis: 20%;
    text-align: center;
  }
}
