@import 'tailwindcss/base';

@font-face {
  font-weight: 100 900;
  font-family: 'Inter var';
  font-style: normal;
  src: url('/fonts/Inter-roman.var.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 100 900;
  font-family: 'Inter var';
  font-style: italic;
  src: url('/fonts/Inter-italic.var.woff2') format('woff2');
  font-display: swap;
}

/* Playfair Display Font Family */
@font-face {
  font-weight: 700;
  font-family: 'Playfair Display';
  font-style: normal;
  src: url('/fonts/Playfair-Display/PlayfairDisplay-Bold.woff') format('woff'),
    url('/fonts/Playfair-Display/PlayfairDisplay-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Playfair Display';
  font-style: italic;
  src: url('/fonts/Playfair-Display/PlayfairDisplay-BoldItalic.woff') format('woff'),
    url('/fonts/Playfair-Display/PlayfairDisplay-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Playfair Display';
  font-style: italic;
  src: url('/fonts/Playfair-Display/PlayfairDisplay-Italic.woff') format('woff'),
    url('/fonts/Playfair-Display/PlayfairDisplay-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Playfair Display';
  font-style: normal;
  src: url('/fonts/Playfair-Display/PlayfairDisplay-Regular.woff') format('woff'),
    url('/fonts/Playfair-Display/PlayfairDisplay-Regular.woff2') format('woff2');
  font-display: swap;
}

/* Manrope Font Family */

@font-face {
  font-weight: 200;
  font-family: 'Manrope';
  font-style: normal;
  src: url('/fonts/Manrope/Manrope-ExtraLight.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: 'Manrope';
  font-style: normal;
  src: url('/fonts/Manrope/Manrope-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Manrope';
  font-style: normal;
  src: url('/fonts/Manrope/Manrope-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Manrope';
  font-style: normal;
  src: url('/fonts/Manrope/Manrope-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'Manrope';
  font-style: normal;
  src: url('/fonts/Manrope/Manrope-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Manrope';
  font-style: normal;
  src: url('/fonts/Manrope/Manrope-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'Manrope';
  font-style: normal;
  src: url('/fonts/Manrope/Manrope-ExtraBold.woff2') format('woff2');
  font-display: swap;
}
