/*! purgecss start ignore */
@import 'base';
/*! purgecss end ignore */

@import 'components';
@import 'tailwindcss/utilities';

.swiper-pagination-bullet {
  background-color: theme('colors.secondary.600');
}

@layer base {
  summary *::marker,
  summary::marker {
    content: '';
  }
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  padding: 0px !important;
  border: 0px !important;
}
